
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container {

  background-color: #caa48a;
  font-family: "Poppins"


/*
  border-width: medium;
  border-style:double;
  border-color: coral;

  /*background-image: linear-gradient(135deg, #008B8B 0%, #FFA500 74%);*/

}


.titulo{
  color: #19456a;
  font-weight: 700;
}
.botao-cadastrar{
  background-color: #a2312e;
  color: white;

}
.botao-atribuicao{
  background-color: #19456a;
  color: white;

}


