@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container{
  font-family: "Poppins"

}



.titulo{
  color: #19456a;
  font-weight: 700;
}

.card {
  background-color:#caa48a;
  border-color: #19456a;
  border: solid ;
  color: #19456a;
  font-weight: 600;
  background-image: url("/assets/fundo3.png");
}

.botao-card{
  background-color: #19456a;
  color: white;
}

.botao-cadastrar{
  background-color: #a2312e;
  color: white;

}

