<body>


<div class="wrapper-content">
  <div class="box-tile">
  <h1>Venha fazer viagens incríveis pelo Brasil</h1>
  </div>
  <div class="bg_img"></div>
  </div>
  <div class="container depoimento">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <h2 class="mt-5 my-4 text-center titulo">Depoimentos dos viajantes</h2>

          <div class="col-12 mb-5" id="depoimentos1">
              <div class="row">
                  <div class="detalhe" class="col-lg-12 col-md-12 col-sm-12 ">
                  </div>

                  <div class="col-lg-2 col-md-6 col-sm-12 card mx-3">
                      <div class="titulo my-2 text-center">
                          Depoimento 1
                      </div>
                      <div class="conteudoCard">
                          <img class="img" src="/assets/madona150.jpg">
                          <p>"Fazer o pacote  ..."
                          </p>

                          <button type="button" class="btn  btn-outline-ligth my-2">Ver íntegra</button>
                      </div>
                  </div>

                  <div class="col-lg-2 col-md-6 col-sm-12 card mx-3">
                      <div class="titulo my-2 text-center">
                          Depoimento 2
                      </div>
                      <div class="conteudoCard">
                          <img class="img" src="/assets/bruno_150.jpg">
                          <p> "Tudo saiu  ..."
                          </p>

                          <button type="button" class="btn  btn-outline-ligth my-2">Ver íntegra</button>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 card mx-3">
                      <div class="titulo my-2 text-center">
                          Depoimento 3
                      </div>
                      <div class="conteudoCard">
                          <img class="img" src="/assets/adele-150.jpg">
                          <p>"Foi tudo mais  ...""
                          </p>


                          <button type="button" class="btn  btn-outline-ligth my-2">Ver íntegra</button>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 card mx-3">
                      <div class="titulo my-2 text-center">
                          Depoimento 4
                      </div>
                      <div class="conteudoCard">
                          <img class="img" src="/assets/britney-150.jpg">
                          <p>"Os melhores   ..."
                          </p>


                          <button type="button" class="btn  btn-outline-ligth my-2">Ver íntegra</button>

                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 card mx-3 ">
                      <div class="titulo my-2 text-center">
                          Depoimento 5
                      </div>
                      <div class="conteudoCard">
                          <img class="img" src="/assets/bey_150.jpg">
                          <p>"Foi a realização  ..."
                          </p>


                          <button type="button" class="btn  btn-outline-ligth my-2">Ver íntegra</button>
                      </div>
                  </div>

                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</body>
