@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  background-color: #a2312e;
 
  
}
body,
button {
  font-family: "Poppins", sans-serif;
  color: white;
  

}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
  font-family: "Poppins";
  color: white;


}


 /* .text-block{
  overflow: hidden;
  position: relative;

}  */

 /* .text-block:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #286DA8;
  transform: translateX(-100%);
  animation: enlargeBlock .5s .6s both,  revealBlock .5s 1.1s both;


} */


.navbar-brand span {
  font-weight: 300;
  color: white;
}


/* .animation-logo{
  opacity:0;
  animation: fadeInText 0s 1.1s both;
}

.navbar-collapse{
  letter-spacing: 2px;
  line-height: 4rem;
  font-family: "Poppins";

}

@keyframes enlargeBlock{
  from{
    width:0%;

  }
  to{
    width:100%;
  }

}

@keyframes fadeInText{
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes revealBlock{
  from {
    transform: translateX(0);
  }
  to {transform: translateX(100%);}
}  */
